@import url("https://unpkg.com/aos@2.3.1/dist/aos.css?ver=191202");
@import url("./../css/port.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css");
html {
  /* font-size: 62.5%; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.25;
}
li {
  list-style: none;
}
a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
button {
  outline: transparent;
  border: transparent;
  background: transparent;
}
img {
  vertical-align: middle;
}
.wrap {
  width: 100%;
}

/* common */
.myportMain_sec {
  display: block;
  box-sizing: border-box;
  /* max-width: 1200px; */
  width: 100%;
  padding: 0 24px;
  margin-bottom: 56px;
}
.myportMain_sec-tle {
  font-size: 36px;
}
.myportMain_sec-sub {
  font-size: 16px;
  margin-bottom: 24px;
}
/* intro */
.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../images/bg3.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.intro::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
}
.intro__top {
  position: relative;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  z-index: 10;
}
.intro__profile {
  width: 140px;
  height: 140px;
  background: #d9d9d9;
}
.intro__coding {
  position: relative;
  z-index: 11;
  font-size: 24px;
  line-height: 2;
  max-width: 800px;
  margin: 0 auto;
  color: #f9d849;
}
.intro__coding-item {
  display: flex;
}
.intro__coding-left {
  margin: 0;
  margin-left: 65px;
}
.intro__coding-right {
  margin: 0;
  margin-left: 5px;
  color: #4a9df8;
}
.intro__coding-var {
  color: #99d6f5;
}
.intro__coding-indentifier {
  color: #2e68ff;
}
.intro__coding-keyword {
  color: #ffffff;
}
.intro__coding-lang {
  color: #c5e294;
}

/* header*/
.header {
  position: fixed;
  max-width: 800px;
  width: 100%;
  height: 60px;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 12;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 50px;
  transition: all 0.5s;
}
.header.topfixed {
  max-width: 100%;
  top: 0;
  border-radius: 0;
  box-shadow: 1px 1px 5px #eeeeee;
  animation: TopHeader 0.3s;
}
@keyframes TopHeader {
  0% {
    top: 5rem;
  }
  100% {
    top: 0;
  }
}
.header nav {
  margin-left: 0;
  text-transform: uppercase;
}
.header__logo {
  margin-right: 24px;
}
.header__logo img {
  display: block;
}
.header__list {
  display: flex;
}
.header__item {
  font-size: 16px;
  margin-right: 32px;
}
.header__name {
  font-size: 14px;
  color: #4b8752;
}
.header__link {
  display: inline-block;
  width: 100%;
  line-height: 22px;
  transition: all 0.3s ease-in-out;
}
.header__link:hover {
  font-size: 18px;
  letter-spacing: 1.2;
}

/*========================
========  about ========
========================*/
.about {
  box-sizing: border-box;
  display: block;
  padding-top: 56px;
}
.about__tle {
  font-size: 36px;
  margin-bottom: 24px;
  color: #292929;
}
.about__inner {
  max-width: 1000px;
  margin: 0 auto;
}
.about__wrap {
  display: flex;
}
.about-left {
  margin-right: 36px;
}
.about-profile {
  cursor: pointer;
  display: block;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-image: url(../images/avata1.png);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
}
.about-profile:hover {
  background-image: url(../images/avata2.png);
}
.about-keyword {
  margin: 12px 0 32px;
}
.about-keyword__item {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 20px;
  font-style: italic;
  cursor: pointer;
  transition: all 0.3s;
}
.about-keyword__item:hover {
  background: rgb(110, 110, 110);
}
.about-keyword__item::before {
  display: inline-block;
  content: "#";
}
.about-more {
  margin-top: 36px;
  display: flex;
  justify-content: center;
}
.about-more__item {
  width: 100px;
  margin: 0 5px;
  text-align: center;
}
.about-more__photo {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border: 1px solid;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-size: 24px 24px;
  margin-bottom: 16px;
}
.about-more__photo1 {
  background-image: url(../images/about/moreLink__off.png);
}
.about-more__photo2 {
  background-size: 30px 30px;
  background-image: url(../images/about/download__off.png);
}
.about-more__desc {
  font-size: 16px;
  word-break: keep-all;
}

.about-intro__top {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
}
.about-intro__name {
  font-size: 20px;
  font-weight: bold;
}
.about-intro__desc {
  word-break: keep-all;
  max-width: 780px;
  padding-right: 30px;
}
.about-intro__desc-inner {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 24px;
}
.about-intro__desc-inner:last-child {
  margin-bottom: 0;
}

/*========================
========  myskill ========
========================*/
.myskill {
  min-height: auto;
}
.myskill__inner {
  max-width: 1000px;
  margin: 0 auto;
}
.myskill__tle {
  font-size: 36px;
  margin-bottom: 24px;
  color: #292929;
}
.myskill__tle-more {
  font-size: 24px;
}

.myskill-top {
  margin-bottom: 24px;
}
.myskill-top__list {
  display: flex;
}
.myskill-top__item {
  width: calc(33.333% - 30px);
  width: 33.3333%;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
}
.myskill-top__name {
  font-size: 22px;
  margin-bottom: 12px;
}
.myskill-top__text {
  margin-bottom: 4px;
}
.myskill-top__text::before {
  content: "@";
  display: inline-block;
  margin-right: 5px;
}

.myskill-bottom__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.myskill-bottom__item {
  width: auto;
  font-size: 16px;
  margin-left: 0;
}
.myskill-bottom__name {
  font-weight: 400;
  margin-right: 20px;
}

/*========================
========  myProject ========
========================*/
.myProject {
  min-height: auto;
}
.myProject__inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.myProject__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.myProject__hover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  align-items: center;
  transition: all 0.3s;
  padding: 20px;
}
.myProject__item {
  position: relative;
  width: 49%;
  box-shadow: 3px 3px 15px rgba(170, 170, 170, 0.2);
  margin-bottom: 24px;
}
.myProject__item:hover .myProject__hover {
  display: flex;
}
.myProject__thum {
  width: 100%;
  height: 250px;
}
.myProject__thum img {
  width: 100%;
  height: 100%;
}
/*========================
========  mywork ========
========================*/
.myWork {
}
.myWork__inner {
  max-width: 1136px;
  margin: 0 auto;
}
.myWork__tle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #292929;
}
.myWork__name {
  font-size: 36px;
  margin-bottom: 18px;
  text-align: center;
}
.myWork__name-sub {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
  text-align: center;
}
.myWork__item {
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 24px;
  min-height: 600px;
}
.myWork__cont {
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 24px;
  min-height: 600px;
}
.myWork__window {
  width: 100%;
  height: 100%;
  padding-top: 29px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-image: url(../images/scoll_Section.png);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 15px rgba(170, 170, 170, 0.2);
  margin-bottom: 24px;
  box-sizing: border-box;
}
.myWork__window-thum {
  position: relative;
  width: 100%;
  height: 500px;
  overflow-y: auto;
  border: transparent;
  cursor: grab;
  box-sizing: border-box;
}
.myWork__window-thum::-webkit-scrollbar {
  display: none;
}
.myWork__window-thum::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/ico/scroll.png);
  background-color: rgba(135, 135, 135, 0.2);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center 50%;
  z-index: 10;
}
.myWork__window-thum:hover::after {
  display: none;
}
.myWork__window-thum-img {
  width: 100%;
}
.myWork__innerWrap {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 25px;
  padding-top: 50px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  background-image: url(../images/scoll_Section.png);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 15px rgba(170, 170, 170, 0.2);
}
.myWork__thum {
  position: relative;
  max-width: 500px;
  width: 50%;
  height: 400px;
  overflow-y: auto;
  cursor: grab;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
}
.myWork__thum::-webkit-scrollbar {
  display: none;
}
.myWork__thum::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/ico/scroll.png);
  background-color: rgba(135, 135, 135, 0.2);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center 50%;
  z-index: 10;
}
.myWork__thum:hover::after {
  display: none;
}
.myWork__thum-img {
  width: 100%;
}
.myWork__thum3 {
  max-width: 350px;
}
.myWork__more {
  margin-bottom: 24px;
}
.myWork__more-btn {
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
  color: #292929;
  background: yellow;
  border-radius: 10px;
  margin-right: 5px;
}
.myWork__right {
  width: 50%;
  padding: 20px;
}
.myWork__ico-close {
  position: fixed;
  cursor: pointer;
  width: 32px;
  height: 32px;
  right: 24px;
  top: 24px;
}
.myWork__ico-close img {
  width: 100%;
}

.myWork-desc__item {
  margin-bottom: 30px;
}
.myWork-desc__tle {
  font-size: 20px;
  margin-bottom: 8px;
}
.myWork-desc__span {
  display: block;
}
.myWork-desc__span::before {
  content: "-";
  margin-right: 5px;
}
.myWork-desc__comment::before {
  content: "*";
  vertical-align: sub;
  margin-right: 5px;
}

/*========================
========  myStudy ========
========================*/
.myStudy {
  margin-bottom: 56px;
}
.myStudy__tle {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #292929;
}
.myStudy__inner {
  max-width: 1000px;
  margin: 0 auto;
}
.myStudy__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.myStudy__item {
  width: calc(25% - 10px);
  margin: 0;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  word-break: keep-all;
}

/*========================
========  footer ========
========================*/
.footer {
  background: #ddd;
  text-align: center;
}
.footer__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 24px 0;
}
.footer__desc-text {
  margin-bottom: 4px;
}
.footer__desc-copy {
  font-size: 14px;
}

@media only screen and (max-width: 1000px) {
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .header {
    width: 95%;
  }
  .header.topfixed {
    width: 100%;
  }
  /* common */
  .myportMain_sec {
    max-width: 768px;
    padding: 0 1.6rem 0;
  }
  .myportMain_sec-tle {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
  }
  .myportMain_sec-sub {
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
  }
  .intro {
    align-items: flex-start;
    padding-top: 10rem;
  }
  .intro__top {
    font-size: 2.4rem;
  }
  .intro__coding {
    font-size: 2rem;
    padding: 0 1.6rem;
  }
  .intro__coding-left {
    margin-left: 3rem;
  }
  /*========================
  ========  about ========
  ========================*/
  .about__tle {
    font-size: 28px;
  }
  .about__wrap {
    display: block;
  }
  .about-left {
    margin: 0 auto;
  }
  .about-profile {
    width: 180px;
    height: 180px;
    background-size: 120px;
  }
  .about-keyword {
    margin: 12px 0 32px;
  }
  .about-keyword__item {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 20px;
    font-style: italic;
    cursor: pointer;
    transition: all 0.3s;
  }
  .about-keyword__item:hover {
    background: rgb(110, 110, 110);
  }
  .about-keyword__item::before {
    display: inline-block;
    content: "#";
  }
  .about-more {
    display: none;
  }
  .about-intro__top {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
  .about-intro__name {
    font-size: 20px;
  }
  .about-intro__desc {
    padding-right: 0;
  }

  /*========================
  ========  about ========
  ========================*/
  .about {
    padding-top: 36px;
  }
  .about__wrap {
    display: block;
  }
  .about-more {
    margin: 16px auto;
  }
  .about-intro__desc-inner {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
  }
  /*========================
  ========  myskill ========
  ========================*/
  .myportMain_sec-tle.myStudy__tle {
    margin-bottom: 0.8rem;
  }
  .myskill-top__list {
    flex-direction: column;
  }
  .myskill-top__item {
    width: 100%;
    margin-bottom: 1.6rem;
  }
  .myskill-top__item:last-child {
    margin-bottom: 0;
  }
  .myskill-top__name {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
  }
  .myskill-top__text {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
  }
  .myskill-bottom__name {
    font-size: 1.4rem;
  }
  .myportMain_sec-tle.myskill__tle {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
  /*========================
  ========  mywork ========
  ========================*/
  .myWork__thum {
    width: 100%;
    height: 300px;
  }
  .myWork__innerWrap {
    flex-direction: column;
    padding: 16px;
  }
  .myWork__right {
    width: 100%;
    margin-top: 12px;
    padding: 0;
  }
  .myWork-desc__item {
    margin-bottom: 24px;
  }
  /*========================
    ========  myProject ========
    ========================*/
  .myProject {
    display: block;
    min-height: auto;
  }
  .myProject__item {
    width: 100%;
    margin-bottom: 1.6rem;
  }
  .myProject__thum {
    height: auto;
  }
  .myProject__item:last-child {
    margin-bottom: 0;
  }
  .myProject__hover {
    padding: 2rem;
  }
  /*========================
  ========  myStudy ========
  ========================*/
  .myStudy__list {
    justify-content: center;
  }
  .myStudy__item {
    width: 100%;
    max-width: 500px;
    font-size: 1.4rem;
  }
}
